body{
    background-color: #57C5B6;
}
/* hr{
    border-style: none none;
    border-top-style: dotted;
    border-color: #424874;
    border-width: 5px;
   
    width: 35%;
} */
h1{
    font-family: 'Satisfy', cursive;
}
strong{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
img{
    height: 25rem;
    width:25rem
    border-radius: 10%;
}

p{
    font-size: 25px;
}
.foot{
    height: 3rem;
    background-color:#159895;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5%;
}